<!DOCTYPE HTML>
<html>
	<head>
		<title>Party of Us</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="Party of Us offers real-time restaurant wait lists.  Be sure to check back often for updates" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.poptrox.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-wide.css" />
			<link rel="stylesheet" href="css/style-normal.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<header id="header" style="position:relative">

				<!-- Logo -->
					<h1 id="logo"><a href="/">PartyOf.us</a></h1>
				
				<!-- Nav -->
                    <nav id="navleft">
                        <ul>
                            <li><strong><a href="/business">For Business</a></strong></li>
                        </ul>
                    </nav>

			</header>
    <div style="width: 70%;margin-right:auto;margin-left:auto;border:solid black;padding:10px;">
        <header style="margin-top:20px;">
            <center> <h2>So, what is PartyOfUs?</h2></center>
           
        </header>
        <p><strong>PartyOfUs</strong> is a restaurant waitlist app with customizable options to quickly and conveniently relay information to future patrons.</p>
        <ul>
            <li style="color:blue">List your wait time</li>
            <li style="color:blue">List space at the bar</li>
            <li style="color:blue">Advertise drink and meal specials</li>
            <li style="color:blue">Provide customers with info regarding handicap and child accesibility</li>
        </ul>
        <p>This information will be immediately available in real-time via our site and mobile app.</p>
        <form method="post" action="/email">
            <div class="row half">
                <h3>We are now accepting venues to our free private beta!</h3>
                <div class="6u"><input type="text" name="name" placeholder="Name" /></div>
                <div class="6u"><input type="text" name="venue" placeholder="Venue" /></div>
                <div class="6u"><input type="text" name="email" placeholder="Email" /></div>
                <div class="6u"><input type="text" name="address" placeholder="Address" /></div>
            </div>
            <div class="row">
                <div class="12u">
                    <ul class="actions">
                        <li><input type="submit" class="button" value="Send Message" /></li>
                    </ul>
                </div>
            </div>
        </form>
    </div>

	</body>
</html>