<head>
    <script src="js/jquery.min.js"></script>
		<script src="js/jquery.poptrox.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/init.js"></script>
    <link rel="stylesheet" href="css/style.css" />
</head> 
<body id="thanks">
    <div style="margin-left:50px;width:400px;height:300px;border-radius:20px;" class="content box style2">
        <header>
            <h2>Thank You!</h2>
        </header>
        <p>We will contact you once we go live!</p>
    </div>
</body>
    
    